<h1>Film da guardare con Masha ❤️</h1>

<div class="films-grid">
  <% @films.each do |film| %>
    <%= link_to film_path(film), class: 'film' do %>
      <div class="film-image" style="background-image: url('<%= film.poster.present? ? film.poster : 'path_to_default_image.jpg' %>')">
        <!-- L'immagine viene impostata come sfondo -->
      </div>
      <div class="film-title"><%= film.title %></div>
    <% end %>
  <% end %>
</div>
