body {
  background-image: image-url('cinema.avif');
  background-size: cover; // Sfondo scuro per la pagina
  color: #fff; // Testo chiaro per contrastare con lo sfondo scuro
  font-family: Arial, sans-serif; // Un esempio di font
}

h1 {
  text-align: center; // Centra il testo dell'h1
  margin-bottom: 50px; // Aggiunge spazio sotto l'h1
  font-family: 'Times New Roman', Times, serif; // Un altro esempio di font
  font-style: italic;
  font-size: 3em;
}

.films-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // Tre colonne
  gap: 20px;
  width: 50%; // Larghezza ridotta per la griglia
  margin: 40px auto; // Centra la griglia orizzontalmente con un po' di spazio sopra e sotto
}

@keyframes borderWave {
  0% {
    border-color: #00ced1; // Verde acqua
  }
  50% {
    border-color: #ff6347; // Un altro colore che si abbina bene, ad esempio un tono di arancione
  }
  100% {
    border-color: #00ced1; // Ritorna al verde acqua
  }
}

.film {
  background: #444;
  border: 1px solid #555;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease;
  position: relative;
  &:hover, &:focus {
    transform: translateY(-5px);
    animation: borderWave 2s infinite; // Applica l'animazione al passaggio del mouse
  }
}

.film-image {
  width: 100%;
  aspect-ratio: 3 / 4;
  background-size: cover;
  background-position: center;
}

.film-title {
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); // Sfondo semi-trasparente per il titolo
  color: white; // Testo chiaro
  font-size: 1.2em;
}
